*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.heading-2 {
  color: #706161;
  font-weight: 300;
  font-size: 2.5rem; }

.heading-3 {
  color: #8785a2;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400; }

.btn {
  height: 3rem;
  width: 100%;
  grid-row: 4 / 5;
  margin-left: 10rem;
  margin-top: -2rem;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 400;
  font-size: 2rem;
  padding: 2px; }
  .btn__contact {
    margin: .5rem 3rem 2rem;
    background-color: rgba(135, 133, 162, 0.3);
    font-weight: 200;
    width: 60%;
    border-radius: 10px; }

.container {
  display: grid;
  grid-template-rows: [header-start] minmax(16rem, 100vh) [header-end content-start] 90vh [content-end gallery-start] minmax(auto, 100vh) [gallery-end forms-start] 100vh [forms-end footer-start] 20vh [footer-end];
  grid-template-columns: [full-start] minmax(100%, auto) [full-end]; }

.about {
  background-color: #f6f6f6;
  display: grid;
  grid-row: content-start / content-end;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  padding: 0 9rem; }
  .about__header {
    grid-column: 1 / 4;
    justify-self: center;
    text-transform: uppercase; }
    .about__header::after {
      display: block;
      height: 2px;
      background-color: #8785a2;
      content: " ";
      width: 100%;
      margin: 0 auto; }
  .about__us {
    grid-row: 2 / 3;
    margin: 4rem;
    display: grid;
    justify-items: center; }
    .about__us--1 {
      fill: #8785a2;
      height: auto;
      width: 5rem;
      margin: 2rem 0; }
    .about__us--2 {
      fill: #8785a2;
      height: auto;
      width: 5rem;
      margin: 2rem 0; }
    .about__us--3 {
      fill: #8785a2;
      height: auto;
      width: 5rem;
      margin: 2rem 0; }
  .about__description {
    color: #706161;
    font-size: 1.4rem; }

.products {
  background-color: #ffe2e2;
  display: grid;
  grid-row: gallery-start / gallery-end;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
  padding: 1.5rem 2rem; }
  .products__img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    display: block; }
  .products__item {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }
    .products__item:hover {
      opacity: 1;
      -webkit-transform: scale(1.03);
      transform: scale(1.03); }
    .products__item--1 {
      grid-row: 5 / 7;
      grid-column: 2 / 3; }
    .products__item--2 {
      grid-row: 1 / 5;
      grid-column: 1 / 3; }
    .products__item--3 {
      grid-row: 4 / 7;
      grid-column: 3 / 4; }
    .products__item--4 {
      grid-row: 1 / 4; }
    .products__item--5 {
      grid-row: 5 / 7;
      grid-column: 1 / 2; }
    .products__item--6 {
      grid-row: 1 / 4;
      grid-column: 3 / 5; }
    .products__item--7 {
      grid-row: 1 / 4; }
    .products__item--8 {
      grid-row: 4 / span 3;
      grid-column: 4 / 7; }

.footer {
  background-color: #8785a2;
  grid-row: footer-start / footer-end;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  align-items: baseline;
  font-size: 1.7rem;
  color: #f6f6f6;
  text-transform: uppercase; }
  .footer__list {
    display: flex;
    list-style-type: none;
    width: 30rem;
    justify-content: space-evenly; }
    .footer__list > * {
      padding-left: 2rem; }
  .footer__icon {
    margin-left: 4rem; }
    .footer__icon--1 {
      height: 3rem;
      width: 3rem; }
  .footer__copyright {
    padding-left: 1rem; }

.header {
  background-image: linear-gradient(#ffc7c7d2, #ffc7c7d2), url(/img/pastry.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed; }

.main {
  color: white;
  display: grid;
  grid-row: header-start / header-end;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px; }
  .main__heading {
    margin-top: 10rem;
    margin-left: 4rem;
    grid-row: 2 / 3; }
  .main__p {
    font-size: 1.5rem;
    grid-row: 3 /4;
    margin-top: 2rem;
    margin-left: 4rem;
    grid-column: 1 / 3; }

.nav {
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: white; }
  .nav::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor; }
  .nav__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    text-align: center; }
    .nav__list--link {
      text-decoration: none;
      color: inherit; }
    .nav__list--1 {
      grid-column: 2 / 3; }
    .nav__list--4 {
      grid-row: 1 /2; }

.form {
  background: #d9a7c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #ffe2e2, #8785a2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #ffe2e2, #8785a2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  grid-row: forms-start / forms-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center; }
  .form__image {
    background-image: linear-gradient(-70deg, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0.9) 50%, transparent 50%), url(/img/forms.jpg);
    width: 66%;
    height: 80%;
    grid-column: 2 / 7;
    grid-row: 2 / 6;
    border-radius: 5%;
    transform: scaleX(-1); }

.contact {
  grid-row: 2 / 5;
  grid-column: 3/ 4;
  transform: translateX(5%); }
  .contact__heading {
    margin-top: 12rem; }
  .contact__form {
    margin-bottom: 1rem;
    border-radius: 2px;
    font-family: "Roboto";
    font-size: 1.5rem; }
    .contact__form--name {
      display: block;
      height: 2rem;
      border: none;
      width: 90%;
      transition: all .3s;
      font-style: italic; }
    .contact__form--email {
      display: block;
      border: none;
      width: 90%;
      transition: all .3s;
      font-style: italic;
      height: 2rem; }
    .contact__form--phone {
      display: block;
      height: 2rem;
      border: none;
      width: 90%;
      transition: all .3s;
      font-style: italic; }
    .contact__form--message {
      border: none;
      display: block;
      width: 90%;
      height: 6rem;
      transition: all .3s;
      font-family: "Roboto";
      font-style: italic; }
    .contact__form--label {
      font-size: 1.2rem;
      font-weight: 300; }
