$color-primary: #ffc7c7;
$color-secondary: #f6f6f6;
$color-tertiary: #ffe2e2;
$color-quaternary: #8785a2;   

$color-paragraph: rgb(112, 97, 97);

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px