.form {
    background-color: violet;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row: forms-start / forms-end;
    grid-column: full-start / full-end;  
} 