.form {
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, $color-tertiary, $color-quaternary);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, $color-tertiary, $color-quaternary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-row: forms-start / forms-end;
    grid-column: full-start / full-end;  
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;

    &__image {
        background-image: linear-gradient(-70deg, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0.9) 50%, transparent 50%), url(/img/forms.jpg);
        width: 66%;
        height: 80%;
        grid-column: 2 / 7;
        grid-row: 2 / 6;
        border-radius: 5%;
        transform: scaleX(-1); 
    }
} 



.contact {
    grid-row: 2 / 5;
    grid-column: 3/ 4;
    transform: translateX(5%);

    
    

    
    &__heading { 
       
       margin-top: 12rem;
    }

    &__form {
       margin-bottom: 1rem;
       border-radius: 2px;
       font-family: "Roboto";
       font-size: 1.5rem;
       //font-style: italic;

        &--name {
            display: block;
            height: 2rem;
            border: none;
            width: 90%;
            transition: all .3s;
            font-style: italic;
        }

        &--email {
            display: block;
            
            border: none;
            width: 90%;
            transition: all .3s;
            font-style: italic;
            height: 2rem;
        }

        &--phone {
            display: block;
            height: 2rem;
            border: none;
            width: 90%;
            transition: all .3s;
            font-style: italic;
        }

        &--message {
            
            border: none;
            display: block;
            width: 90%;
            height: 6rem;
            transition: all .3s;
            font-family: "Roboto";
            font-style: italic;
        }

        &--label {
            font-size: 1.2rem;
            font-weight: 300;
        }

    }
}
