.footer {
    background-color: $color-quaternary;
    grid-row: footer-start / footer-end;
    grid-column: full-start / full-end;
    //display: grid;
    //grid-template-columns: repeat(20, 1fr);
    //grid-template-rows: 10rem 10rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    align-items: baseline;
    font-size: 1.7rem;
    color: $color-secondary;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }
    
    



    &__list {
        display: flex;
        list-style-type: none;
        width: 30rem;
        justify-content: space-evenly;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            align-items: center;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.5rem;
        }
      
       
        & > * {
            padding-left: 2rem;

            @media only screen and (max-width: $bp-small) {
               padding-left: 0;
               padding-bottom: 1rem;
            }
        }
    

    }

    &__icon {
    margin-left: 4rem;

    @media only screen and (max-width: $bp-small) {
        margin-left: 0rem;
    }

        &--1 {
            height: 3rem;
            width: 3rem;
            
            
        }
    }

    &__copyright {
        padding-left: 1rem;

        @media only screen and (max-width: $bp-small) {
          padding-left: 0;
        }
    }
}