.about {
    background-color: $color-secondary;
    display: grid;
    grid-row: content-start / content-end;
    grid-column: full-start / full-end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: 0 9rem;

    &__header {
        grid-column: 1 / 4;
        justify-self: center;
        text-transform: uppercase;

        &::after {
            display: block;
            height: 2px;
            background-color: $color-quaternary;
            content: " ";
            width: 100%;
            margin: 0 auto;
        }
    }

    
    

    &__us {
        grid-row: 2 / 3;
        margin: 4rem;
        display: grid;
        justify-items: center;
        

  

        &--1 {
            fill: $color-quaternary;
            height: auto;
            width: 5rem;
            margin: 2rem 0;
            
           
        }

        &--2 {
            fill: $color-quaternary;
            height: auto;
            width: 5rem;
            margin: 2rem 0;
            
        }

        &--3 {
            fill: $color-quaternary;
            height: auto;
            width: 5rem;
            margin: 2rem 0;
        }
    }

    &__description {
        color: $color-paragraph;
        font-size: 1.4rem;
    }
    
}




.products {
    background-color: $color-tertiary;
    display: grid;
    grid-row: gallery-start / gallery-end;
    grid-column: full-start / full-end;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    
    

    &__img {
    width: 100% ;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    display: block;
    }
    
    &__item {
        opacity: 0.7;
        width: 100%;
        height: auto;
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;

        &:hover {
            opacity: 1;
            -webkit-transform: scale(1.03);
            transform: scale(1.03)
        }

        &--1 {
            grid-row: 5 / 7;
            grid-column: 2 / 3;
        }

        &--2 {
            grid-row: 1 / 5;
            grid-column: 1 / 3;
        }

        &--3 {
            grid-row: 4 / 7;
            grid-column: 3 / 4;
        }

        &--4 {
           grid-row: 1 / 4;
           
        }

        &--5 {
            grid-row: 5 / 7;
            grid-column: 1 / 2;
        }
        &--6 {
            grid-row: 1 / 4;
            grid-column: 3 / 5;
            
        }

        &--7 {
         grid-row: 1 / 4;

        }

        &--8 {
            grid-row: 4 / span 3;
            grid-column: 4 / 7;

        } 

    }
}