.about {
    background-color: $color-secondary;
    display: grid;
    grid-row: content-start / content-end;
    grid-column: full-start / full-end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: 0 9rem;

    @media only screen and (max-width: $bp-medium) {
        display: block
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: repeat(7, 1fr);
         grid-template-rows: repeat(6, 1fr);
    }



    &__header {
        grid-column: 1 / 4;
        justify-self: center;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
            padding-top: 3rem;
        }

        &::after {
            display: block;
            height: 2px;
            background-color: $color-quaternary;
            content: " ";
            width: 100%;
            margin: 0 auto;
        }
    }

    
    

    &__us {
        grid-row: 2 / 3;
        margin: 4rem;
        display: grid;
        justify-items: center;

        @media only screen and (max-width: $bp-small) {
            margin-left: -5rem;
            margin-right: -5rem;
            margin-bottom: -4rem;
        }
        

        
        

  

        &--1 {
            fill: $color-quaternary;
            height: auto;
            width: 5rem;
            margin: 2rem 0;
            
            
           
        }

        &--2 {
            fill: $color-quaternary;
            height: auto;
            width: 5rem;
            margin: 2rem 0;


            
        }

        &--3 {
            fill: $color-quaternary;
            height: auto;
            width: 5rem;
            margin: 2rem 0;
        }
    }

    &__description {
        color: $color-paragraph;
        font-size: 1.4rem;
    }
    
}




.products {
    background-color: $color-tertiary;
    display: grid;
    grid-row: gallery-start / gallery-end;
    grid-column: full-start / full-end;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    padding: 1.5rem 2rem;

    @media only screen and (max-width: $bp-small) {
        grid-row: gallery-start / gallery-end;
        grid-column: full-start / full-end;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        padding-left: 0;
        padding-bottom: 1rem;
    }
    
    

    &__img {
    width: 100% ;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    display: block;
    }
    
    &__item {
        opacity: 0.7;
        width: 100%;
        height: auto;
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;

        @media only screen and (max-width: $bp-large) {
            opacity: 1;
        }

        &:hover {
            opacity: 1;
            -webkit-transform: scale(1.03);
            transform: scale(1.03)
        }

        &--1 {
            grid-row: 5 / 7;
            grid-column: 2 / 3;

            @media only screen and (max-width: $bp-small) {
                grid-row: 2 / 3;
                grid-column: 4 / 5;
            }


        }

        &--2 {
            grid-row: 1 / 5;
            grid-column: 1 / 3;

            @media only screen and (max-width: $bp-small) {
                grid-row: 1 / 2;
                grid-column: 4 / 5;
            }
            
            
        }

        &--3 {
            grid-row: 4 / 7;
            grid-column: 3 / 4;

            @media only screen and (max-width: $bp-small) {
                grid-row: 1 / 2;
            }
        }

        &--4 {
           grid-row: 1 / 4;

           @media only screen and (max-width: $bp-small) {
            display: none;
        }
           
        }

        &--5 {
            grid-row: 5 / 7;
            grid-column: 1 / 2;

            @media only screen and (max-width: $bp-small) {
                display: none;
            }
        }
        &--6 {
            grid-row: 1 / 4;
            grid-column: 3 / 5;

            @media only screen and (max-width: $bp-small) {
                display: none;
            }
            
        }

        &--7 {
         grid-row: 1 / 4;

         @media only screen and (max-width: $bp-small) {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        }

        &--8 {
            grid-row: 4 / span 3;
            grid-column: 4 / 7;

            @media only screen and (max-width: $bp-small) {
                display: none;
            }

        } 

    }
}