.header {
    background-image: linear-gradient((#ffc7c7d2), (#ffc7c7d2)), url(/img/pastry.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main {
    color: white;
    //margin: 14rem 0 5rem 5rem;
    display: grid;
    grid-row: header-start / header-end;
    grid-column: full-start / full-end;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;

    &__heading {
        margin-top: 10rem;
        margin-left: 4rem;
        grid-row: 2 / 3;
    }

    &__p {
        font-size: 1.5rem;
        grid-row: 3 /4 ;
        margin-top: 2rem;
        margin-left: 4rem;
        grid-column: 1 / 3;
    }
}  

.btn {
    height: 3rem;
    width: 100%;
    grid-row: 4 / 5;
    margin-left: 10rem;
    margin-top: -2rem;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 400;
    font-size: 2rem;
    padding: 2px;
}