.heading-2 {
    color: $color-paragraph;
    font-weight: 300;
    font-size: 2.5rem;
}

.heading-3 {
    color: $color-quaternary;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
  
} 